<%- include("partials/header") -%>
<body class="bg-green">
  <div class="container text-center ">
    <div class="row mt-5">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Julian Chandra Sutadi</h5>
              <p class="card-text">IF Ganesha</p>
              <p class="card-text">19622136</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Abdul Rafi Radityo Hutomo</h5>
              <p class="card-text">IF Ganesha</p>
              <p class="card-text">19622304</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card color-green bg-yellow-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Tamara Mayranda Lubis</h5>
                <p class="card-text">STI Ganesha</p>
                <p class="card-text">19622035</p>
            
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Jason Jahja</h5>
              <p class="card-text">STI Jatinangor</p>
              <p class="card-text">19622239</p>

             
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Panji Sri Kuncara Wisma</h5>
              <p class="card-text">IF Ganesha</p>
              <p class="card-text">19622140</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card color-green bg-yellow-light">
              <div class="card-body fw-bold">
                <h5 class="card-title fw-bold">Zaki Yudhistira Candra</h5>
                <p class="card-text">IF Ganesha</p>
                <p class="card-text">19622199</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Auralea Alvinia Syaikha</h5>
              <p class="card-text">IF Jatinangor</p>
              <p class="card-text">19622294</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Guntur Oktavianto Nugroho</h5>
              <p class="card-text">STI Ganesha</p>
              <p class="card-text">19622129</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card color-green bg-yellow-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Akmal Galih Aji Sugmo Seno</h5>
                <p class="card-text">STI Ganesha</p>
                <p class="card-text">19622157</p>
               
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Kresna Adi Prayogo</h5>
              <p class="card-text">IF Ganesha</p>
              <p class="card-text">19622168</p>

            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Aland Mulia Pratama</h5>
              <p class="card-text">IF Jatinangor</p>
              <p class="card-text">19622296</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card color-green bg-yellow-light">
              <div class="card-body">
                <h5 class="card-title fw-bold">Firsa Athaya Raissa Alifah</h5>
                <p class="card-text">STI Ganesha</p>
                <p class="card-text">19622080</p>
                
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card color-green bg-yellow-light">
            <div class="card-body">
              <h5 class="card-title fw-bold">Dzulfaqor Ali Dipangegara</h5>
              <p class="card-text">STI Ganesha</p>
              <p class="card-text">19622106</p>


            </div>
          </div>
        </div>
    </div>
  </div>
</body>
